<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <h1>{{ title }}</h1>
            <div class="divider"></div>
            {%  if time %}
                <h2>It's {{ time }} where are your chicks?</h2>
            {% endif %}
            {%  if message %}
                <h3>{{ message }}</h3>
            {% endif %}
            <div class="divider"></div>
            {% if gate == 1 %}
                <button class="btn btn-alert" onclick="window.location.href='/gate/0'">Lock it up!</button>
            {% elif gate == 0 %}
                <button class="btn btn-primary" onclick="window.location.href='/gate/1'" >Set them free!</button>
            {% endif %}
        </div>
    </div>

</body>
</html>
